<p>
  <strong>Contenido:</strong>
  <%= @memory.content %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @memory.memory_type %>
</p>
<p>
  <strong>Cápsula:</strong>
  <%= @memory.capsule&.title || 'Sin cápsula' %>
</p>

<%= link_to 'Edit', [:edit, :admin, @memory] %> |
<%= link_to 'Back', [:admin, :memories] %>
